<div class="row">
    <div class="col-md-4 d-flex flex-column justify-content-center align-items-center page-divider">
        <div class="d-flex flex-column align-items-center">
            <img [src]="pathLogoLogin" alt="Restaurante Logo" class="logo-mid">
            <span class="mb-4" style="font-size: 25px;">Entre em sua conta</span>
        </div>

        <div>
            <form [formGroup]="form" (submit)="$event.preventDefault()" class="text-center">
                <mat-form-field [floatLabel]="'always'" class="w-100">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email" placeholder="Digite aqui o seu email">

                    @if (form.get('email')?.hasError('email') && !form.get('email')?.hasError('required')) {
                    <mat-error>Digite um email válido!</mat-error>
                    }
                    @if (form.hasError('required')) {
                    <mat-error>Você precisa digitar o seu email</mat-error>
                    }
                </mat-form-field>

                <mat-form-field [floatLabel]="'always'" class="w-100">
                    <mat-label>Senha</mat-label>
                    <input [type]="showPassword ? 'text' : 'password'" matInput formControlName="password"
                        placeholder="Digite sua senha">

                    @if (form.get('password')?.hasError('minlength') &&
                    !form.get('password')?.hasError('required')) {
                    <mat-error>Digite uma senha com no minimo 6 caracteres</mat-error>
                    }
                    @if (form.get('password')?.hasError('required')) {
                    <mat-error>Você precisa digitar a sua senha</mat-error>
                    }

                    <mat-icon (click)="setPasswordVisilibity()" matSuffix>{{showPassword ? "visibility_off" : "visibility"}}</mat-icon>

                </mat-form-field>


                <button mat-stroked-button class="p-4 w-50 mt-3" type="button" [disabled]="form.invalid"
                    (click)="login()">Entre <mat-icon matSuffix>login</mat-icon></button>
            </form>
        </div>

        <div class="d-flex w-100 gap-3 align-items-center mt-5 mb-5">
            <mat-divider class="w-100"></mat-divider>
            <span style="font-family: Roboto; color: rgb(170,170,170);">OU</span>
            <mat-divider class="w-100"></mat-divider>
        </div>

        <div class="w-100 d-flex justify-content-center mt-3">
            <button mat-flat-button color="primary" class="p-4 w-50" (click)="newAcessSolicitation()">Solicite um novo acesso conosco!</button>
        </div>


        <div style="position: absolute; bottom: 15px;">
            <a href="https://www.instagram.com/rcaipirao" target="_blank" style="margin-right: 20px; cursor: pointer;"><img src="assets/svgs/instagram.svg" width="45"
                    height="45"></a>
            <a href="https://api.whatsapp.com/send?phone=5569993803677" target="_blank" style="cursor: pointer;"><img src="assets/svgs/whatsapp.svg" width="45" height="45"></a>
        </div>

    </div>
    <div class="col-md-8 p-2">
        <img [src]="pathImageLogin" style="width: 100%; height: 100%; object-fit: cover;">
        <!-- <div class="background-img-dynamic"></div> -->
    </div>
</div>