button[mat-raised-button]{
    min-width: 250px;
}

button[mat-stroked-button]{
    min-width: 300px;
}

button[mat-flat-button]{
    border: 1px solid rgb(197, 197, 197);
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px
}